body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: radial-gradient(circle at top, #2b2108, #030303 45%);
  color: #fff;
  padding-bottom: 90px;
}

header {
  text-align: center;
  padding: 35px 20px 20px;
}

.logo {
  width: 170px;
  max-width: 80%;
  border-radius: 50%;
  box-shadow: 0 0 35px #d4af37;
  display: block;
  margin: 0 auto;
}

h1 {
  color: #d4af37;
  letter-spacing: 2px;
  margin-bottom: 5px;
  text-align: center;
}

header p {
  color: #c9b26b;
  text-align: center;
}

.categorias {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  overflow-x: auto;
  flex-wrap: wrap;
}

.categorias button {
  background: #111;
  color: #d4af37;
  border: 1px solid #d4af37;
  border-radius: 16px;
  padding: 12px 18px;
  font-weight: bold;
}

h2 {
  color: #d4af37;
  padding: 0 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.filtro-area {
  text-align: center;
  margin: 10px 0 25px;
}

#filtroBtn {
  background: #d4af37;
  color: #000;
  border: none;
  border-radius: 18px;
  padding: 14px 24px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(212, 175, 55, 0.55);
}

#filtroBtn:hover {
  background: #f0c94a;
}

.produtos {
  padding: 10px 15px;
  max-width: 850px;
  margin: 0 auto;
}

.card {
  background: linear-gradient(145deg, #111, #050505);
  border: 1px solid #8c6b19;
  border-radius: 22px;
  padding: 22px;
  margin-bottom: 18px;
  box-shadow: 0 0 20px rgba(212, 175, 55, 0.15);
  text-align: center;
}

.emoji {
  font-size: 34px;
  margin-bottom: 8px;
}

.nome {
  font-size: 28px;
  margin: 0 0 8px;
  color: #fff;
  font-weight: bold;
}

.info {
  color: #d4af37;
  font-size: 16px;
  margin-bottom: 10px;
}

.preco {
  display: block;
  color: #d4af37;
  font-size: 30px;
  margin: 10px 0;
  font-weight: bold;
}

/* DISPONÍVEL EM VERDE */
.disponivel {
  color: #00d26a !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  font-size: 17px !important;
}

/* INDISPONÍVEL EM VERMELHO */
.indisponivel,
.espera {
  color: #ff3b3b !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  font-size: 17px !important;
}

footer {
  text-align: center;
  color: #c9b26b;
  font-size: 13px;
  padding: 30px 20px;
}

.whatsapp {
  position: fixed;
  bottom: 18px;
  left: 18px;
  right: 18px;
  background: #d4af37;
  color: #000;
  text-align: center;
  padding: 18px;
  border-radius: 18px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 0 25px rgba(212, 175, 55, 0.7);
  z-index: 999;
}

@media (max-width: 600px) {
  .nome {
    font-size: 24px;
  }

  .preco {
    font-size: 26px;
  }

  .card {
    padding: 20px 15px;
  }
}
